Está a receber este email porque precisa de verificar o seu endereço de email associado ao Scholar.

{{app.baseURL}}/email-verification?email={{emailId}}&token={{token}}

-----
O link para verificação irá expirar.
