You are receiving this email because you need to verify your email address associated with Scholar.

{{app.baseURL}}/email-verification?email={{emailId}}&token={{token}}

-----
The link for verification will expire.
