{% extends "./base_body_html.njk" %}
{% set show_call_to_action = true %}
{% set show_footnote = true %}

{% block title %}
Email Verification
{% endblock %}

{% block message %}
You are receiving this email because you need to verify your email address associated with Scholar.
{% endblock %}

{% block call_to_action_url %}
{{app.baseURL}}/email-verification?email={{emailId}}&token={{token}}
{% endblock %}

{% block call_to_action_message %}
Confirm Verification
{% endblock %}

{% block footnote %}
YThe link for verification will expire.
{% endblock %}
